@{
    ViewData["Title"] = "Buy your books";
}
<div class="container pt-4">
  <div class="row p-3" style="background-color:#f7d4d4">
    <div class="col">
      <img src="~/img/sellers/2.jpg" class="card-img-top" alt="..." style="height: 400px">
    </div>
    <div class="col my-auto">
      <h1 class="card-title">Find Me</h1>
      <p class="card-text" style="font-size: 25px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <h4 class="card-text">Rs. 200</h4>    
      <a href="#" class="btn btn-success">Buy now</a>   
  </div>
  </div>
</div>

<div class="container pt-4">
<div class="row">
    <h1>Sypnosis</h1>
    <p>As a creative force, student of the human heart and soul, and champion of living the life you want, Oprah Winfrey stands alone. Over the years, she has made history with a legendary talk show - the highest-rated program of its kind, launched her own television network, become the nation's only African-American billionaire, and been awarded both an honorary degree by Harvard University and the Presidential Medal of Freedom. From all her experiences, she has gleaned life lessons—which, for fourteen years, she's shared in O, The Oprah Magazine's widely popular "What I Know For Sure" column, a monthly source of inspiration and revelation.</p>
    </div>    

</div>
