@{
    ViewData["Title"] = "About";
}

<div class="container">
    <h1 class="text-center">
        About BookSpot:
    </h1>

    <p>As of the present moment, Nepal Mandala Book Shop is the sole vendor of BookSpot and a local bookstore, 
        based at Gongabu, Kathmandu. Since 2022, BookSpot has existed as a tiny island of peace in a 
        fast-moving world. Thriving and growing every year, the business that started from a post-card board selling 
        postcards to tourists in the heart of Kathmandu has grown to be one of the hidden jewels of Kathmandu with floor-to-ceiling 
        stacks of books and a generally inclusive vibe that makes it seem like a neighborhood spot for anyone and everyone. 
        The bookshop is one of the largest book distributors in Nepal. The shelves store an endless choice of books and the 
        catalogue is always growing. You can take time browsing the seemingly endless selection of rare coffee table books and 
        attractive souvenir items.
    </p>

    <h3>Contact:</h3>
    <p><i class="fa-solid fa-phone"></i>&nbsp;+977 - 9898989898</p>
    <p><i class="fa-solid fa-envelope"></i>&nbsp;bookspot@gmail.com</p>

</div>
