@{
    ViewData["Title"] = "About";
}

<div class="container">
    <h1 class="text-center">
        About BookSpot:
    </h1>

    <p>"Book Spot" is a platform where users can get access to the books published all around the world easily at low price
        or no cost mechanism.As we all know, books are a collection of wise words and knowledge.Rather than stacking the books 
        and filling it with dirt,we purpose to pass the book around or let us say pass the knowledge and wisdom around.
    </p>
    <p>“Quality Education” is enlisted by the UN as the 4th goal for sustainable development to
transform our world. But education is by no means accessible to everyone and is not
affordable to all hierarchies of people. The purpose of this platform is to reduce cost on basic
component of the education system ie. the book. Education is a subjective word and doesn’t
necessarily mean going to school and learning from the teachers. Research has found that
students who read other books than just the one prescribed by their education institution are
more creative and have the skills to tackle real words problems. And by quality education we
mean this.</p>
<p>
Also, technology is something we cannot ignore and is booming at a high speed. From
“Book Spot” we intend to bring people together through responsible use of technology. Also
the technology will be working on a transparent layer and all the data shall be open sourced
to the people.</p>

    <h3>Contact:</h3>
    <p><i class="fa-solid fa-phone"></i>&nbsp;+977 - 9898989898</p>
    <p><i class="fa-solid fa-envelope"></i>&nbsp;bookspot@gmail.com</p>

</div>
