@{
    ViewData["Title"] = "Contact Us";
}


<h1 class="text-center">Contact <span style="color: green;">Us</span></h1>
<div class="container">
  <div class="row">
    <div class="col">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28247.794686665915!2d85.30062468562456!3d27.748937577920934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb192b9cada64d%3A0xdf67e83763747500!2z4KSX4KWL4KSC4KSX4KSs4KWBLCA0NDYwMA!5e0!3m2!1sne!2snp!4v1655633225237!5m2!1sne!2snp" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col">
      <div class="mb-3">
         <label for="name" class="form-label">Name</label>
         <input type="text" class="form-control" id="name">
    </div>
    <div class="mb-3">
         <label for="name" class="form-label">Name</label>
         <input type="text" class="form-control" id="name">
    </div>
    <div class="mb-3">
  <label for="message" class="form-label">Your Message</label>
  <textarea class="form-control" id="message" rows="3"></textarea>
</div>
 <div class="mb-3">
 <a href="#" class="btn btn-success">Send</a>
</div>
    </div>
   </div>
</div>