@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/sell.css" />
</head>
<div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/img/first_page.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/img/second_page.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/img/third_page.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h5 class="mt-4">Best Sellers</h5>
<div class="row">
    <div class="col-md-3">
    <div class="card" style="width: 15rem;">
  <img src="~/img/sellers/2.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Find Me</h5>
    <p class="card-text">Rs. 200</p>
    <a asp-controller="Buynow" asp-action="Buy" class="btn btn-success">Buy Now</a>
  </div>
</div>
</div>
<div class="col-md-3">
<div class="card" style="width: 15rem;">
  <img src= "~/img/sellers/1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">A little Life</h5>
    <p class="card-text">Rs 300</p>
    <a href="#" class="btn btn-success">Buy Now</a>
  </div>
</div>
</div>
<div class="col-md-3">
<div class="card" style="width: 15rem;">
  <img src="~/img/sellers/3.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Twelve and Half</h5>
    <p class="card-text">Rs.350</p>
    <a href="#" class="btn btn-success">Buy Now</a>
  </div>
  </div>
  </div>
  <div class="col-md-3">
<div class="card" style="width: 15rem;">
  <img src="~/img/sellers/4.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> Subconscious Mind</h5>
    <p class="card-text">Rs.200</p>
    <a href="#" class="btn btn-success">Buy Now</a>
  </div>
</div>
</div>

</div>
<h5 class="mt-4">New Arrivals</h5>
<div class="row">
    <div class="col-md-3">
    <div class="card" style="width: 15rem;">
  <img src="~/img/new_arrival/new_arrival_1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Discover Your Destiny</h5>
    <p class="card-text">Rs. 200</p>
    <a href="#" class="btn btn-success">Buy Now</a>
  </div>
</div>
</div>
<div class="col-md-3">
<div class="card" style="width: 15rem;">
  <img src= "~/img/new_arrival/new_arrival_2.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Men We Reaped</h5>
    <p class="card-text">Rs 300</p>
    <a href="#" class="btn btn-success">Buy Now</a>
  </div>
</div>
</div>
<div class="col-md-3">
<div class="card" style="width: 15rem;">
  <img src="~/img/new_arrival/new_arrival_3.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Lessons For Life</h5>
    <p class="card-text">Rs.350</p>
    <a href="#" class="btn btn-success">Buy Now</a>
  </div>
  </div>
  </div>
  <div class="col-md-3">
<div class="card" style="width: 15rem;">
  <img src="~/img/new_arrival/new_arrival_4.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Better To Have Gone</h5>
    <p class="card-text">Rs.200</p>
    <a href="#" class="btn btn-success">Buy Now</a>
  </div>
</div>
</div>
</div>


        <div class="row img_body mt-5">
            <div class="col">
                <img src="~/img/Sell-books-online.jpg" style="width: 100%; height: 400px;"/>
                <div class="button_group">
                <h1 class="text-center color_text">
                    Want to Sell Your Books?
                </h1>
                <div class="row justify-content-md-center mt-5">
                    <a href="~/Sell/Sell" class="btn btn-outline-success btn_text">Click Here</a>
                </div>
                </div>
            </div>  
        </div>


</div>
